<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Unified Voice Networks</title>
 
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    {{bootstrap.load_css()}}
 
</head>
   {{bootstrap.load_js()}} 
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="Settings">Settings</a>
                    </li>
                    <li role="presentation"><a href="Devices">Devices</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Unifed Voice Networks</h3>
        </div>
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Devices</h4>
                <p>This is the list of Devices connected to the asterisk web Server.</p>
                <h4>Device Descriptions</h4>
                <p>Device Descriptions ,names and unique identifiers </p>
                <h4>Configurations</h4>
                <p>Configuration settings of each device found in Asterisk Server.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Connectivity</h4>
                <p>The various connectivity settings of the devices.</p>
 
                <h4>Satelite Intergrations</h4>
                <p>The Satelite  configuration of the devices in the network .</p>
 
                <h4>Locations</h4>
                <p>Real time update of the devices .</p>
            </div>
        </div>
 
        <footer class="footer">
        </footer>
 
    </div>
</body>
 
</html>